header{
    background-color: #48c5ce;
    text-align: center;
    color:rgb(75, 59, 59);
    padding: 10px;
}

.title{
    font-size: 2rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    display: block;
}

.container{
    background-image: url('../images/agenda.jpg');
    background-size: cover;
    overflow: hidden;
    max-width: auto;
    height: 100%;
    color: rgb(116, 87, 87);
    padding: 100px;
}

h3{
    padding: 3%;
    font-size: 1.5rem;
}

h2{
    font-size: 1.5rem;
    text-align: center;
    padding: 2%;
}

.mb{
    margin-bottom: .5rem;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}

select{
    appearance: none;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}

footer{
    display: flex;
    flex-direction: row;
    grid-template-columns: auto 1fr;
    background-color: #e0d8de;
    padding: 1rem;
    text-align: center;
    color:rgb(75, 59, 59);
    max-width: 100%;

}

.picture{
    width: 12rem;

}

.descriptionText{
    text-align: justify;
    color: rgb(75, 59, 59);
    padding-left: 5rem;
    padding-right: 5rem;
}

.descriptionText h3{
    text-align: center;
    color: rgb(75, 59, 59);

}


 @media (min-width:300px){ 
    * {
        margin: 0;
        padding: 0;
        outline: 0;
    }

    .title{
        font-size: 1.5rem;
    }

    .container{
        max-width: 100%;
        margin:0;
        padding: 0;
    }

    .formContainer{
        float: right;
        max-width: 20rem;
        background-color: #FFFFFFBB;
        padding: 2rem;
        float: right;
        color: rgb(116, 87, 87);
        text-align: left;
    }
   

}